body {
  background-color: rgb(238, 234, 223);
}

.main-container {
  position: relative;
  font-family: "Monaco", monospace;
  min-height: calc(100vh - 250);
  overflow-x: hidden; /* Disable horizontal scroll, or else it would overlapp to side nav bar*/
}

header {
  text-align: center;
  padding: 10px;
}

main {
  position: relative;
  padding: 10px;
  padding: bottom 100px;
  min-height: 100vh;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;

}

nav {
  height: 70px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
}

.nav-bar ul {
  display: flex;
}

.nav-links {
  list-style: none;
}
.nav-links li a {
  display: block;
  color: white;
  font-size: 20px;
  margin: 0 5px;
  text-decoration: none;
  border-radius: 40px;
}

.nav-links li {
  text-align: center;
  border-radius: 5px;
  padding: 0px 20px 0px 20px;
}

.nav-links li:hover a {
  color: black;
  transition: 0.5s;
}

.nav-links li:hover {
  background-color: white;
}


.home-logo {
  display: block;
  text-align: center;

}

.logo-img {
  height: 70px;
}


.menu-icon {
  display: hidden;
}



@media only screen and (max-width: 875px) {
  nav {
    margin-bottom: 500px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-icon-line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }

  .nav-links {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    flex-direction: column;
  }

  .nav-links li:hover a{
    display: inline-block;
    background-color: white;
    transition: 0.5s;

  }







}
