
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 50px;
}

.grid-box  {
    background-color: white;
    padding: 1.5rem 2rem;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    border-style: solid;
    border-color: rgb(199, 199, 199);
}

.service-icon img{
    width: 80%;
}

.more-info {
    text-decoration: none;
    color: black;
    background-color: rgb(99, 169, 250);
    border: none;
    padding: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    
}

.more-info:hover {
    opacity: 80%;
}
