body {
  background-color: rgb(238, 234, 223);
}

.main-container {
  padding-left: 310px;
  position: relative;
  font-family: "Monaco", monospace;
  min-height: calc(100vh - 250);
  overflow-x: hidden; /* Disable horizontal scroll, or else it would overlapp to side nav bar*/
}

header {
  text-align: center;
  padding: 10px;
}

main {
  position: relative;
  padding: 10px;
  padding: bottom 100px;
  min-height: 100vh;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;

}

nav {
  width: 250px;
  height: 100%;
  background: grey;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0%;
  left: 0%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px 30px;
}

.home-logo {
  display: block;
  margin-bottom: 120px;
  text-align: center;
}

.logo-img {
  width: 130px;
}

.nav-links {
  position: relative;
  list-style: none;
  padding-left: 0%;
  font-family: "Monaco", monospace;
}

.nav-links li {
  text-align: center;
  border-radius: 5px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
}

.nav-links li:hover a {
  color: black;
  transition: 0.5s;
}

.nav-links li:hover {
  background-color: white;
}
