body {
    background-color: rgb(238, 234, 223);
  }
  
  h1 {
    color: white;
    margin-left: 20px;
    margin-right: 550px;
    font-family: Georgia, serif;
    background-color: lightblue;
    opacity: 0.6;
  }
  


  